* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: left;
}
.goat {
  background: #eeeeee;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  transition: all 0.3s linear;
  border-radius: 0.3rem;
  text-align: center;
}
.goat img {
  border-radius: 1rem;
  border: 0.1rem solid teal;
}

h2 { 
  text-transform: capitalize;
  margin: 1rem 2rem; 
  letter-spacing: 0.15rem;
  color: teal;
}

.goat h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
}

section span {
  display: inline-block;
  margin-left: 2rem; 
  letter-spacing: 0.15rem;
}

.goat:hover {
  cursor: pointer;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
